<div class="main">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index">
        <div class="post-user">
          <div class="post-user-left">
              <%= image_tag "/user_images/#{post.user.image_name}" %>
          </div>
          <div class="post-user-right">
            <%= link_to(post.user.name,"/users/#{post.user.id}") %>
          </div>
        </div>
        <div class="posts">
          <%= link_to image_tag("/posts_images/#{post.movie_image}"), "/posts/#{post.id}" %>
        </div>
        <div class="posts-title">
          <p><span>TITLE：</span><%= link_to(post.title, "/posts/#{post.id}") %></p>
        </div>
        <div class="posts-score">
          <div class="star-rating mb-2">
            <div class="star-rating-front" style="width: <%= post.score.to_f*20 %>%">★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
          </div>
        </div>
        <div class="posts-comment">
          <p><span>REVIEW：</span><br><%=safe_join(post.comment.split("\n"),tag(:br))%></p>
        </div>
        <div class="posts-day">
          <p><%= post.created_at.to_s(:datetime)%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
